:root {
  --primary-color: #f5f5f5;
  --secondary-color: #393939;
  --accent-color: #517e69;
  --main-font: "Lato", sans-serif;
  --headings-font: "Open Sans", sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.row {
  min-height: 70vh;
}

h2 {
  font-family: var(--headings-font);
  font-weight: 700;
  font-size: 60px;
  text-decoration: 5px underline var(--accent-color);
}

h3 {
  font-size: 35px;
  font-weight: 600;
}

.primary-color {
  background: var(--primary-color);
}

.secondary-color {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.secondary-color a {
  position: relative;
  z-index: 2;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.secondary-color a:hover {
  color: #cccccc;
}

.accent-color {
  background: var(--accent-color);
}

header {
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 50px;
  height: 100vh;
  overflow: hidden;
}

header .row {
  height: 70vh;
}

.navbar {
  padding-top: 0;
}
.navbar-brand {
  font-size: 30px;
}
.active {
  color: var(--accent-color) !important;
  font-weight: 600 !important;
}

nav a {
  font-family: var(--headings-font);
  font-size: 30px;
  font-weight: 300;
  color: var(--primary-color) !important;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: #cccccc;
  font-size: 32px;
}
.navbar-toggler {
  border-color: var(--primary-color);
}

a {
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: 23px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
a:hover {
  color: var(--accent-color);
}

.words {
  padding: 4% 5%;
}

.arrow {
  position: relative;
  width: 250px;
  border: 2px solid var(--accent-color);
  box-sizing: border-box;
  margin-top: -1%;
}
.point {
  position: relative;
  display: block;
  margin: -12.5% -3% 0 0;
  float: right;
  font-size: 38px;
  color: var(--accent-color);
}

footer {
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 1%;
}
footer a {
  color: var(--primary-color);
  margin: 1%;
}
footer .email {
  font-weight: 100;
}

/*! HOME PAGE !*/
#welcome-message {
  height: 100%;
  padding-top: 13%;
  line-height: 1.5;
}
#welcome-message h1 {
  font-family: var(--headings-font);
  font-size: 45px;
  font-weight: 300;
}
strong {
  color: var(--accent-color);
  font-size: 100px;
  font-weight: 700;
}
#welcome-message p {
  font-size: 50px;
  font-weight: 400;
}
.btn-primary-outline {
  left: 20%;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 400;
  border-radius: 15px;
  line-height: 27px;
  padding: 15px 50px;
  transition: all 100ms ease-in-out;
}
.btn-primary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-primary-outline:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
  border: none;
}
#welcome-circle {
  background: var(--accent-color);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-top: 20%;
}
.close-up {
  top: -1%;
  right: 10%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 122%;
  width: 122%;
}

/*? about section ?*/
.about-accent {
  margin: 4% 0;
  height: 60vh !important;
}
.about-section-img {
  margin: -33% 0 0 4%;
  position: relative;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 90%;
}
.about-content {
  margin-right: 2%;
}

/*? work section ?*/
.circles {
  position: relative;
  left: 18%;
}
.work-circle-outline {
  border: 5px solid #cccccc;
  border-radius: 50%;
  background: transparent;
  height: 120%;
  margin: 2% 0;
}
.work-circle {
  border-radius: 50%;
  margin: 3%;
}
.work-section-img {
  position: relative;
  padding-top: 10%;
  right: 45%;
  width: 100%;
}

/*? contact section ?*/
.contact-accent {
  border-left: 95vh solid var(--accent-color);
  border-bottom: 70vh solid transparent;
}
.contact-section-img {
  position: relative;
  width: 80%;
  top: 9%;
  left: 15%;
}
.contact-content {
  position: relative;
  z-index: 2;
}

/*! ABOUT PAGE !*/
/*? general info section ?*/
.general-info-section {
  height: 70vh !important;
}
.general-info-section ul {
  list-style: none;
}
.general-info-section ul li::before {
  content: "\2022";
  color: var(--accent-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}
.general-info-img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 85%;
  top: -22%;
}
.general-info-accent {
  position: relative;
  height: 131px;
  width: 251%;
  right: 138%;
}

/*? coding journey section ?*/
.coding-journey-circles {
  text-align: center;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  margin: 5%;
  padding: 20% 10%;
}

.coding-journey-circles h5 {
  color: var(--secondary-color);
  font-weight: 700;
  font-family: var(--headings-font);
  margin: 0;
}
.coding-journey-circles p {
  font-weight: 400;
  font-family: var(--main-font);
  margin: 0;
}
.primary-color h5 {
  color: var(--accent-color);
}
.primary-color p {
  color: var(--secondary-color);
}

/*? testimonials section ?*/
.testimonials-section {
  overflow: hidden;
}
.testimonial-holder:last-child {
  margin-top: -15%;
}
.small-title {
  text-decoration-color: var(--primary-color);
}
.quotes {
  font-size: 344px;
  font-family: var(--headings-font);
  font-weight: 700;
  margin: 0;
}
.green {
  color: var(--accent-color);
}
.right {
  float: right;
}
.testimonial-content {
  padding: 50px 55px;
  border-radius: 25px;
  margin: -45% 0 -25% 0;
}
.who {
  font-family: var(--headings-font);
  font-weight: 600;
}

/*! WORK PAGE !*/
/*? shecodes section ?*/
.shecodes-content {
  margin-top: 2%;
}

.btn-branding {
  background: var(--accent-color);
  color: var(--primary-color);
  font-size: 20px;
  border-radius: 15px;
  line-height: 27px;
  padding: 10px 30px;
  transition: all 100ms ease-in-out;
}
.btn-branding:hover {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background: transparent;
}

.icons {
  font-size: 200px;
  margin-bottom: 15%;
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}
.icons:hover {
  color: var(--secondary-color);
}

/*! CONTACT PAGE !*/
.contact-me-section .icons {
  font-size: 500px;
  color: var(--secondary-color);
  margin: 5%;
}

.contact-me-section a {
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
  margin: 0;
}
.contact-me-section a:hover {
  color: var(--secondary-color);
}

/*! MEDIA QUERIES !*/
@media (max-width: 991px) {
  /*! HOME PAGE !*/
  #welcome-message {
    text-align: center;
    width: 100%;
  }
  .btn-primary-outline {
    left: 40%;
  }
  .about-content {
    margin-top: -40%;
  }
  /*! ABOUT PAGE !*/
  .general-info-content {
    overflow: hidden;
  }
  .quotes {
    font-size: 200px;
  }
}

@media (max-width: 905px) {
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .words {
    padding: 4% 9%;
    width: 95%;
  }
  /*! HOME PAGE !*/
  .about-content {
    margin-top: 6%;
  }
  .contact-accent {
    display: none;
  }
  /*! ABOUT PAGE !*/
  .testimonial-content {
    margin: -25% 0 -13% 0;
  }
}

@media (max-width: 622px) {
  /*! HOME PAGE !*/
  #welcome-message {
    padding-top: 0;
  }
  .btn-primary-outline {
    left: 35%;
  }
}

@media (max-width: 624px) {
  /*! ABOUT PAGE !*/
  .general-info-accent {
    height: 100px;
  }
}

@media (max-width: 585px) {
  /*! ABOUT PAGE !*/
  .general-info-accent {
    height: 72px;
  }
}

@media (max-width: 489px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  /*! ABOUT PAGE !*/
  .testimonial-content {
    margin: 15% 0 13% 0;
  }
  .quotes {
    display: none;
  }
}
