body {
  margin: 0 auto;
  background: #f5f5f5;
  color: #393939;
}

header {
  color: #f5f5f5;
  background: #393939;
  padding: 50px;
}
    strong {
        color: #517E69;
    }

.img-holder {
    background: #517E69;
    height: 100%;
}

a {
  text-decoration: none;
  color: #517E69;
  font-weight: 700;
}

a:hover {
    color: #393939;
}

footer {
  color: #f5f5f5;
  background: #393939;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
